#change-password-outer-box {
    border-radius:10px;
    width:100%;
    height:100%;
    text-align: center;
    min-width: 375px;
    max-width:900px;
    
}

#change-password-outer-box .box {
    border-style:solid;
    border-width: 2px;
    width:90%;
    height:50%;
    padding:10px;
    margin:auto;
    border-color:black;
    border-radius: 5px;
    margin-top:4vh;
}

#change-password-outer-box form h3{
    text-align: center;
}

#change-password-outer-box .form-group{
    text-align: left;
    padding:2vh;
}

#change-password-outer-box .form-group label{
    font-size: large;
    padding:2px;
}

#change-password-outer-box .box form button{
    margin:1vh;
    color:white;
    outline-color: none;
}

@media (min-width: 912px) {
    #change-password-outer-box .box {
        border-style:solid; 
        border-width: 2px;
        height:50%;
        padding:10px;
        margin:auto;
        border-color:black;
        border-radius: 5px;
        margin-top:1vh;
    }
}